body {
    background-color: rgb(31, 29, 29);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0px; /*viewport edges */
}

img {
    max-width: 100%;
}

.logo {
    max-width: 150px;
}

.main-header {
    display: flex; /* FLEX CONTAINER: changes layout to horizontal */
    /* flex-direction: overall position within layout (L to R)
    flex-wrap: wrapping text to the next line */
    flex-flow: row wrap; /* combines direction and wrap */
    justify-content: space-between; /* spacing between HTML elements */
    background-color: rgb(255, 255, 255); 
    align-items: flex-end; /* move items to the bottom */
    padding: 10px 20px; /* padding of a box: TB LR */
    font-family: kanit;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
}

/* element: nav, item: a */
.navigation a { 
    text-decoration: none;  /* underline */
    color: rgb(0, 0, 0); /* link color */
    padding: 8px;
}

/* pseudoclass */
.navigation a:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(41, 231, 114);
}

.nav-button {
    align-self: center;
    font-size: 32px;
    padding: 5px;
    min-width: 48px;
    background-color: transparent;
    border-color: transparent;
    display: none; /*menu button only appears in mobile */
}

.nav-button:focus {
    background-color: #202020;
    color: #fdfdfd;
}

.banner-home {
    background-image: url("../images/vibes.jpeg"); /* this doesn't get printed */
    /* .. - moves out of directory */
    background-position: 0% 50%;
    background-size: 100%; /* fitting an image in the display */
    min-height: 91vh; 
    /* half the height of the viewport */

    /* CENTER */
    display: grid; /* formatting the display */
    place-items: center; /* placing HTML items in the display */
    /* TOP LEFT */
    display: flex;
    justify-content: flex-start; /* LEFT */
    align-items: flex-start; /* TOP */
}

.banner-contact {
    background-image: url(""); /* this doesn't get printed */
    /* .. - moves out of directory */
    background-position: 0% 50%;
    background-size: 100%; /* fitting an image in the display */
    min-height: 40vh; 
    /* half the height of the viewport */

    /* CENTER */
    display: grid; /* formatting the display */
    place-items: center; /* placing HTML items in the display */
    /* TOP LEFT */
    display: flex;
    justify-content: flex-start; /* LEFT */
    align-items: flex-start; /* TOP */
}

/*
.banner h1 {
    color:rgb(0, 0, 0);
    background-color:rgb(160, 127, 214);
    padding: 10px;
}
*/

.home-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}

.open-hours {
    text-align: left;
}

.card-image {
    aspect-ratio: 4/3;
    object-fit:contain;
}

.card {
    border: 1px solid rgb(41, 231, 114);
    padding: 1em;
}

.card-button {
    background-color: rgb(41, 231, 114);
    color: rgb(0, 0, 0);
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.card-button {
    color: white;
}

.card-button a:hover {
    color: white;
}

.main-footer {
    background-color: #ffffff;
    padding: 1em;
    display: flex; 
    flex-direction: row; /* all in one row */
    justify-content: space-between; /* left and right */
    font-family: kanit;
}

/* hyperlinks */
.main-footer a {    
    color: rgb(0, 0, 0);
    padding: 0.2em;
    text-decoration: none; /* underlines disappear */
}

.main-footer a:hover {
    color: white;
    background-color: rgb(41, 231, 114);
}

.social-nav a {
    font-size: 24px;
}

/* contact form */

#contact {
    display: flex;
    flex-direction: column;
}
#contact label {
    font-weight: 500;
}
#contact input {
    margin-bottom: 0.5em;
    border: 1px solid #666666;
    padding: 0.5em;
}
#contact input:focus, #contact textarea:focus {
    outline: dashed 2px red;
}
.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.form-buttons button {
    background-color: #202020;
    padding: 0.5em;
    color: #cccccc;
    min-width: 10ch;
    border: 1px solid transparent;
    border-radius: 4px;
}