/* CSS variables: all pointers have var() fonts and you can declare the font in only one place  */
:root {
    /* Font */
    --main-font-family: sans-serif; 
    /* CSS */
    --primary: rgb(242, 208, 0);
    --secondary: rgb(255, 247, 100);
}

body {
    background-color: rgb(31, 29, 29);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0px; /*viewport edges */
    overflow-y: scroll;
}

img {
    max-width: 100%;
}

.logo {
    max-width: 60px;
}

.main-header {
    display: flex; /* FLEX CONTAINER: changes layout to horizontal */
    /* flex-direction: overall position within layout (L to R)
    flex-wrap: wrapping text to the next line */
    flex-flow: row wrap; /* combines direction and wrap */
    justify-content: space-between; /* spacing between HTML elements */
    background-color: rgb(255, 255, 255); 
    align-items: flex-end; /* move items to the bottom */
    padding: 10px 20px; /* padding of a box: TB LR */
    font-family: kanit;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
}

/* element: nav, item: a */
.navigation a { 
    text-decoration: none;  /* underline */
    color: rgb(0, 0, 0); /* link color */
    padding: 8px;
}

.navigation a:link {

}

.navigation a:visited {

}

/* pseudoclass */
.navigation a:hover {
    color: rgb(255, 255, 255);
    background-color: var(--primary);
}

.navigation a.active {
    font-weight: bold;
}

/*menu button only appears in mobile */
.nav-button {
    align-self: center;
    font-size: 32px;
    padding: 5px;
    min-width: 48px;
    background-color: transparent;
    border-color: transparent;
    display: none; 
}

.nav-button:focus {
    background-color: #202020;
    color: #fdfdfd;
}

/*banner*/

.banner-home {
    background-image: url("../images/sneaker_banner.jpg"); /* this doesn't get printed */
    /* .. - moves out of directory */
    background-position: 0% 50%;
    background-size: 100%; /* fitting an image in the display */
    min-height: 75vh; 
    /* half the height of the viewport */

    /* CENTER */
    display: grid; /* formatting the display */
    place-items: center; /* placing HTML items in the display */
    /* TOP LEFT */
    display: flex;
    justify-content: flex-start; /* LEFT */
    align-items: flex-start; /* TOP */
}

.banner-contact {
    background-image: url("../images/sydney-harbour.jpg"); /* this doesn't get printed */
    /* .. - moves out of directory */
    background-position: 50% 50%;
    background-size: 100%; /* fitting an image in the display */
    min-height: 55vh; 
    /* half the height of the viewport */

    /* CENTER */
    display: grid; /* formatting the display */
    place-items: center; /* placing HTML items in the display */
    /* TOP LEFT */
    display: flex;
    justify-content: flex-start; /* LEFT */
    align-items: flex-start; /* TOP */
}

.banner-about {
    background-image: url("../images/group.jpg"); /* this doesn't get printed */
    /* .. - moves out of directory */
    background-position: 0% 13%;
    background-size: 100%; /* fitting an image in the display */
    min-height: 55vh; 
    /* half the height of the viewport */

    /* CENTER */
    display: grid; /* formatting the display */
    place-items: center; /* placing HTML items in the display */
    /* TOP LEFT */
    display: flex;
    justify-content: flex-start; /* LEFT */
    align-items: flex-start; /* TOP */
}

/*
.banner h1 {
    color:rgb(0, 0, 0);
    background-color:rgb(160, 127, 214);
    padding: 10px;
}
*/

/* carousel */

.slide {
    min-width: 100%;
    min-height: 95vh;
    display: grid;
    place-items: center;
    font-size: 5em;
    /* default background attributes */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide:nth-child(1) {
    background-image: url("../images/sneaker_banner.jpg"); 
    background-position: 0% 100%;
}

.slide:nth-child(2) {
    background-image: url("../images/group.jpg");
    background-position: 0% 60%;
}

.slide:nth-child(3) {
    background-image: url("../images/shoe-crafting.jpg");
    background-position: 0% 55%;
}

/* */

.home-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.card-image {
    width: 375px;
    height: 220px;
    object-fit: cover;
}

.card {
    border: 1px solid var(--secondary);
    padding: 1em;
}

.card-button {
    background-color: var(--primary);
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.card-button a:hover {
    color: rgb(0, 0, 0);
    background-color: var(--primary);
}

/* contact page */

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}

.open-hours {
    text-align: left;
}

.main-footer {
    background-color: #ffffff;
    padding: 1em;
    display: flex; 
    flex-direction: row; /* all in one row */
    justify-content: space-between; /* left and right */
    font-family: kanit;
}

/* hyperlinks */
.main-footer a {    
    color: rgb(0, 0, 0);
    padding: 0.2em;
    text-decoration: none; /* underlines disappear */
}

.main-footer a:hover {
    color: white;
    background-color: var(--primary);
}

.social-nav a {
    font-size: 24px;
}

/* contact form */

#contact {
    display: flex;
    flex-direction: column;
}

#contact label {
    font-weight: 500;
}

#contact input {
    margin-bottom: 1em;
    border: 1px solid rgb(63, 62, 62);
    padding: 0.5em;
}

/* focus is for input elements */
#contact input:focus, #contact textarea:focus {
    outline: solid var(--primary);
}

.form-button {
    display: flex;
    flex-direction: row; /*row reverse */
    justify-content: space-between;
    margin-top: 0.5em;
}

.form-button button {
    background-color: white;
    padding: 0.2em;
    color: black;
    min-width: 10ch;
    border: 1px solid transparent;
}

/* about us */

.about-page {
    min-height: 100%; /* body will cover the entire height of the vp */
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    /* header- auto, body: 1fr, footer-auto */
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 2em auto;
    gap: 20px;
}

.about-image {
    max-width: 100%;
}
