/* requires <meta name="viewport">

/* overrides main.css */
@media screen and (max-width: 576px) {
    .home-content {
        grid-template-columns: 1fr;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .contact-content {
        grid-template-columns: 1fr;
    }
    
    /* places nav at the top of screen */
    .main-header {
        position: relative;
    }
    
    .navigation {
        position: absolute; 
        top: 100%;
        left: 0px;
        z-index: 999;
        background-color: white;
        min-width: 100%;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden; /* hides nav */
        transition: max-height 0.5s; /* animation */
    }

    .navigation.open {
        max-height: 65vh;
    }

    .navigation a {
        min-width: 100%;
    }

    .search {
        width: 100%;
        display: flex;
    }

    .search input {
        flex: 1;
    }

    .logo {
        margin: auto;
    }

    .nav-button {
        display: block; /*menu button only appears in mobile */
    }

    .banner-about {
        background-position: 50% 50%;
        background-size: cover;
        min-height: 50vh;
    }

    .banner-contact {
        background-position: 50% 50%;
        background-size: cover;
        min-height: 50vh;
    }

    .map, .contact-form {
        width: 100%;
        max-width: 100%;
        display: grid;
      }
}